<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

	<property name="outPattern"
		value="[%p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%c]%C:%L - %m %n" />
	<!-- 文件历史数 -->
	<property name="maxHistory" value="7" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${outPattern}</pattern>
		</encoder>
	</appender>

	
	<appender name="LOG_test_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${dynamic.log.path}/test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${dynamic.log.path}/test%d{yyyy-MM-dd}.log.gz
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${outPattern}</pattern>
		</encoder>
	</appender>
	
	<logger name="LOG_test" level="${log.level}">
		<if condition='"${devMode}".equals("true")'>
			<then>
				<appender-ref ref="CONSOLE" />
			</then>
		</if>
		<appender-ref ref="LOG_test_FILE" />
	</logger>
	
	
	<root level="${log.level}">
		<if condition='"${devMode}".equals("true")'>
			<then>
				<appender-ref ref="CONSOLE" />
			</then>
		</if>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>