<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-autowire="byName">

	<!-- mvc controller -->
	<context:component-scan base-package="web.spring.controller,web.upanddown" />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<context:annotation-config />
	
	<bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
         <property name="locations">
            <list>
              <value>classpath:conf/important.properties</value>
            </list>
        </property>
    </bean>
	
	
	<!-- JSR-303 support will be detected on classpath and enabled automatically -->
	<mvc:annotation-driven />

	<!-- static resources -->
	<mvc:resources location="/lib/" mapping="/lib/**" cache-period="864000" /><!-- 24 * 3600 * 10 -->
	<mvc:resources location="/js/" mapping="/js/**" cache-period="864000" /><!-- 24 * 3600 * 10 -->
	<mvc:resources location="/css/" mapping="/css/**" cache-period="864000" /><!-- 24 * 3600 * 10 -->
 	<mvc:default-servlet-handler />
	
	<!-- ViewResolver -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<!-- why recommend jsp put in WEB-INF dir, becose is safe for user visit, user can't visit page by jsp url whith in WEB-INF -->
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- <bean id="excelViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order" value="1" />
		<property name="location" value="/WEB-INF/views.xml" />
	</bean> -->

	<!-- locale related -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="_clientlocale" />
		<property name="defaultLocale" value="zh_CN" />
		<property name="cookieMaxAge" value="2147483647" />
	</bean>

	<!-- Access resource bundles with the specified basename -->
<!-- 	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames" value="/WEB-INF/i18n/content,/WEB-INF/i18n/validation,/WEB-INF/i18n/asset,/WEB-INF/i18n/enum" />
		<property name="cacheSeconds" value="5" />
	</bean> -->


	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>

	<!--
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/**.html" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/js/**" />
			<mvc:exclude-mapping path="/soa/**" />
			<mvc:exclude-mapping path="/error/**" />
			<mvc:exclude-mapping path="/favicon.ico" />
			<mvc:exclude-mapping path="/index.jsp" />
			<bean class="com.wm.nb.web.interceptor.LoginInterceptor">
				<property name="erpDomain" value="http://${erp.domain.name}" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
 -->
</beans>